@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --fonte1: 'Bebas Neue' cursive;
}

*{
    font-family: 'Bebas Neue', cursive;
}
body{
    background-color: lightslategray;
}

div{
    margin: auto;
    margin-top: 40px;
    max-width: 800px;
    height: 400px;
    padding-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-size: 2.5em;
    cursor: default;
    
}
h2{
    font-size: 2.2em;
    font-weight: normal;
    cursor: default;
}
a{
    text-decoration: none;
    font-size: 1.4em;
    color: rgb(52, 69, 105);
    padding: 5px;
}
a:hover{
    text-decoration: underline;
    font-size: 1.5em;
}